*{
    box-sizing: border-box;
    margin: 0;
}
.section{
    padding-left: 10px;
}
.navbar-nav{
    background-color: black;
    padding: 10px;
    font-family: sans-serif;
    padding-left: 40px;
}
.navbar-brand{
    text-decoration: none;
    color: gray;
    padding: 10px;
}
.container{
    width: 100%;
    height: 1100px;
    padding: 20px;
}
  .box{
      float: left;
      width: 33.3333%;
      padding: 25px 25px;
      font-family: sans-serif;

}
  .font{
      font-size: 15px;
      color: #007BAF;
}

  .card-text{
      color: black;
      padding-top: 10px;
}

   img {
      width: 100%;
      padding-bottom: 10px;
}
  
  @media screen and (max-width:686px){
    .box{
            width: 50%;
        } 
}
  @media screen and (max-width:576px){
    .box{
        width: 100%;
        } 
}
 .parent{
    margin: 0 40px 0 40px;
    border-bottom: 1px solid lightgrey;
    font-family: sans-serif;
    padding-bottom: 10px;
}
 .child1{
    font-size: 30px;
    font-weight: 500; 
    padding-right:10px;
}
 .child2{
    font-size: 20px;
    color: darkgray;
}
 .footer{
    padding-left:60px;
    width:100%;
    display: flex;
}